[Unit]
Description=E87 hotspot web access

[Socket]
ListenStream=10.42.0.1:80
BindToDevice=wlan0
FreeBind=yes
NoDelay=yes

[Install]
WantedBy=sockets.target

