[Unit]
Description=E87 console K-CAN bootstrap
After=sys-subsystem-net-devices-kcan.device
Requires=sys-subsystem-net-devices-kcan.device
Before=e87canbus-console.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/e87canbus/console.env
ExecStartPre=-/usr/sbin/ip link set kcan down
ExecStart=/usr/sbin/ip link set kcan type can bitrate 100000 listen-only ${E87CANBUS_CONSOLE_CAN_LISTEN_ONLY} restart-ms 100
ExecStart=/usr/sbin/ip link set kcan up
ExecStop=-/usr/sbin/ip link set kcan down

[Install]
WantedBy=multi-user.target
RequiredBy=e87canbus-console.service
